[MASTER]
# Regras a serem desabilitadas
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring

[MESSAGES CONTROL]
# Mensagens a serem desabilitadas
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-function-docstring
    C0116   # missing-class-docstring

[FORMAT]

max-line-length = 88
