anyio==3.7.1
async-timeout==4.0.3
asyncio-redis==0.16.0
broadcaster[redis]
fastapi==0.103.1
gunicorn==21.2.0
pydantic==2.3.0
rabbitmq==0.2.0
redis==5.0.0
uvicorn==0.23.2
websockets==11.0.3
aio-pika
aiohttp[speedups]